
button {
  width: 40px;  
  margin: 1px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background: #ffffff;
  color: black;
}

.row-board {
  display: flex;
  justify-content: center;
}

.calculator {
  padding: 10px;
  border: 1px solid #ccc;
}

#calculator-display {
  font-size: 11px;
  height: 11px;
  text-align: right;
  padding: 0.5em;
  border: 1px solid #ccc;
  color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: #373737;
  height: 100vh;
}